/******************************************************************

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.d-col-1of2 {
	width: 50%;
	float: left;
}

/**************************
Site Loader
***************************/
#loader {
	display: block;
}

/**************************
Icons
***************************/
i.address,
i.email,
i.phone {
    display: inline-block;
    width: 24px;
    height: 22px;
    background-image: url(../../images/icons/contact-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(193px/1.5) calc(33px/1.5);
}

i.email {
	background-position: -53px 0;
}
i.phone {
	background-position: -104px 0;
}

.social {
    li {
        margin-right: 13%;

		a {
		    width: 25px;
		    height: 25px;
	        background-size: calc(540px/1.5) calc(38px/1.5);

	        &.spotify {
	            background-position: 0 0;
	        }

	        &.instagram {
			    background-size: calc(540px/1.2) calc(38px/1.2);
			    background-position: -143px -3px;
			    height: 26px;
			    width: 26px;
	        }

	        &.twitter {
	            background-position: -226px 0;
	        }

	        &.linkedin {
	            background-position: -338px 0;
	        }
		}
    }
}

/**************************
Section Specific styles
***************************/
#header {
    padding-top: 114px;

    .highlighter-sessions-label {
        font-size: 13px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

/**************************
Highlighter Sessions Styles
***************************/
.paper-wrap {
    padding-top: 70px;
}

.paper {
	font-size: 1.625em;
	padding: 15px 9.5%;
}

/**************************
Section Specific styles
***************************/
#overview {
	h2 {
		font-size: 1.125em;
	}

	p {
		font-size: 2.250em;
		width: 100%;
		line-height: 1em;
		padding: 0 25%;
		letter-spacing: 1.71px;
	}
}

#instagram {
	header {
		padding: 45px 0 37px;
	}

	.image-grid {
		overflow: hidden;

        .ig-image {
            padding-top: 20%;
            width: 20%;
            background-size: cover;
            float: left;

            &:nth-child(n+7) {
                display: block;
            }

            &:nth-child(n+11) {
                display: none;
            }
        }

		.svg {
			width: 24%;

		    svg {

		    }
		}
	}
}

#passion {
	padding: 60px 0 100px;

	h2.highlighter {
		font-size: 34px;
		letter-spacing: 5px;
		line-height: 41px;

		em {
			left: -5px;
			height: 8px;
		    top: 16px;
		    width: 290px;
		}
	}

	.image-wrap {
		img {
			margin-top: -100px;
			margin-left: -10%;
		}
	}

	p {
		width: 50%;
    	margin: 0 auto 30px;
	}
}

#contact-banner {
    h2 {
        font-size: 18px;
    }
}

#contact {
	.atl {
		.hover-letters {
			// transform: translate(0, -34%);
		}
	}

	.la {
		.hover-letters {
			// transform: translate(0, -47%);
		}
	}

	.city {
		width: 50%;
    	padding: 35% 0 0 0;
    	background-position: bottom;

    	.city-box-wrap {
		    margin: 0 auto;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
    	}

		.city-box {
			width: 179px;
			height: 179px;
		}

		.city-box-border {
			width: 179px;
			height: 179px;
			border: solid 3px #000;
		}

		.hover-city {
			width: 30%;

			li {
				line-height: 1.1em;
				font-size: 2.625em;
				margin-bottom: 5px;
			}
		}

		.hover-content {
			.inner {
				top: 58%;
			}
		}

		.contact-details {
			width: 70%;

			li {
				font-size: 1.250em;
				margin-bottom: 25px;
			}
		}

		.letter-hover {
			font-size: 42px;
		}

		&.hovered {
			.letter-copy {
				font-size: 2.625em;
			}
		}
	}

	.letter-resting,
	.letter-copy,
	.letter-copy-hover {
		font-size: 2em;
	}
}

#jobs {
	h2.highlighter {
		font-size: 34px;
		letter-spacing: 5.36px;
		padding-bottom: 180px;

		span {
			em {
				top: 16px;
				height: 8px;
			}
		}
	}

	.jobs-info {

		a {
			font-size: 18px;
		}

		.jobs-contact {
			h3 {
				font-size: 1.500em;
				letter-spacing: 3.1px;
			}
		}

		p {
			font-size: 18px;
		}

		.jobs-open-roles {
			h3	{
				font-size: 1.500em;
				letter-spacing: 3.1px;
			}

			ul {
				font-size: 18px;
				letter-spacing: 1px;

				li {
					display: inline-block;
					margin-right: 45px;
				}
			}
		}
	}
}

.footer {
	background: #010101;
	padding-top: 30px;
	padding-bottom: 25px;

	.footer-contact,
	.social {
		width: 50%;
		float: left;
	}

	.footer-contact {
		margin: 0;
		padding: 0 0 0 15px;
		border: none;
		text-align: left;
	}

	.social {
		text-align: right;
		padding-right: 14px;
	}
}