/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/**************************
Coloumns
***************************/		
.t-col-1of2 {
	width: 50%;
	float: left;
}

.full-height-mobile {
    height: auto;
}

h2, .h2 {
	font-size: 1.125em;
}

/**************************
Highlighter Sessions Styles
***************************/
.paper-wrap {
    position: static;
    padding-top: 85px;
}

.paper {
    font-size: 20px;
    display: block;
    padding: 15px 40px;
    transition: opacity .7s ease-in;
    text-align: left;
    letter-spacing: 2.27px;
    opacity: 0;
}

/**************************
Section Specific styles
***************************/
// .middle class resets
#overview .middle,
#services .middle,
#instagram .middle,
#contact .middle,
#jobs .middle {
	position: static;
	transform: translate(0,0);
}

#header {
    padding-top: 130px;

    .cover {
        display: none;
    }

    .highlighter-sessions-toolbar {
        pointer-events: none;
        opacity: 0;
    }

    .highlighter-sessions-label {
        font-size: 11px;
        display: block;
        margin-top: 58px;
        margin-bottom: 167px;
        text-align: center;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        color: #ccc;
    }
}

#header-logo {
    position: static;
    transform: translate(0, 0);
}

#overview {
	padding-top: 170px;
	padding-bottom: 130px;

	p {
		font-size: 1.750em;
		line-height: 33px;
		letter-spacing: 1.33px;
	}
}

#instagram {
	header {
		padding: 35px 0 27px;

		h2 {
			line-height: 1em;
			letter-spacing: 2px;
		}
	}
	
	.image-grid {
		.tablet-placeholder {
			display: block;
		}

		background-image: none;
        
        img {
        	display: block;
        	width: 100%;
     	} 	
	}	
}

#services {
	padding: 125px 0 130px;

    ul {

        li {
            font-size: 2.125em;
            line-height: 1em;
            letter-spacing: 4.39px;
            padding: 21px 0 15px 0;
        }
    }	
}

#passion {
	overflow: auto;

	header {
		margin-bottom: 47px;
	}

	h2 {
		font-size: 27px;
		line-height: 33px;
		letter-spacing: 4px;

		span {
			em {
				width: 240px;
				top: 14px;
    			left: -6px;
			}
		}
	}

	.image-wrap {
		float: right;

		img {
			width: 220px;
			margin: 0 auto;
		}
	}

	.copy {
		p {
			font-size: 1em;
			line-height: 27px;
			letter-spacing: 0.8px;
		}
	}
}

#contact {
	overflow: auto;

	.city {
		width: 50%;
    	padding: 100px 0;	
    	
	    .city-box {
	        width: 92px;
	        height: 92px;    

	        .letters {
	        	position: absolute;
	        	top: 50%;
				transform: translate(-50%, -50%);
	        }		
	    }
	    
	    .city-box-border {
	        position: absolute;
	        top: 4px;
	        left: 4px;
	        display: block;
	        box-sizing: border-box;
	        width: 92px;
	        height: 92px;
	        border: solid 2px #000;
	    }	    

		.city-box-wrap {
			margin: 0 auto;
		}

		.hover-content {
			overflow: hidden;

			.inner {
	        	position: absolute;
	        	top: 50%;
	        	left: 50%;
				transform: translate(-50%, -50%);			
			}
		}
	}
}

#jobs {
	overflow: auto;
	padding-bottom: 79px;

	.jobs-info {
		.middle {
			padding: 0;
		}

		.jobs-contact {
			padding-left: 5%;

			h3 {
				font-size: 1.250em;
				letter-spacing: 2.58px;
			}			
		}

		.jobs-open-roles {
			padding-left: 5%;

			h3 {
				font-size: 1.125em;
				letter-spacing: 2px;
			}
		}

		p {
			font-size: 1em;
			letter-spacing: 0.89px;
		}		
	}

	h2 {
		font-size: 1.688em;
		letter-spacing: 4.26px;
		position: static;
		transform: translate(0,0);
		padding-top: 90px;
		padding-bottom: 80px;

		span {
			display: inline;

			em {
			    width: 104%;
			    left: -5px;
			    top: 12px;
			}
		}
	}
}

#footer {
	
}

#footer-logo {
	width: 40%;
}