/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/**************************
Coloumns
***************************/		
.t-col-1of2 {
	width: 50%;
	float: left;
}

.full-height-mobile {
    height: auto;
}

h2, .h2 {
	font-size: 1.125em;
}

/**************************
Mobile Contact Butter Bar
***************************/		
.contact-butter-bar {
	display: none;
}

/**************************
Highlighter Sessions Styles
***************************/
.paper-wrap {
    position: static;
    padding-top: 85px;
}

.paper {
    font-size: 20px;
    display: block;
    padding: 15px 40px;
    transition: opacity .7s ease-in;
    text-align: left;
    letter-spacing: 2.27px;
    opacity: 0;
}

/**************************
Section Specific styles
***************************/
// .middle class resets
#overview .middle,
#services .middle,
#instagram .middle,
#jobs .middle {
	position: static;
	transform: translate(0,0);
}

#header {
    padding-top: 130px;

    .cover {
        display: none;
    }

    .highlighter-sessions-toolbar {
        pointer-events: none;
        opacity: 0;
    }

    .highlighter-sessions-label {
        font-size: 11px;
        display: block;
        margin-top: 58px;
        margin-bottom: 167px;
        text-align: center;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        color: #ccc;
    }
}

#header-logo {
    position: static;
    transform: translate(0, 0);
}

#overview {
	padding-top: 170px;
	padding-bottom: 130px;

	h2 {
		font-size: 1em;
	}

	p {
		font-size: 1.750em;
		line-height: 33px;
		letter-spacing: 1.33px;
	}
}

#instagram {
	header {
		padding: 35px 0 27px;

		h2 {
			line-height: 1em;
			letter-spacing: 2px;
		}
	}
	
	.image-grid {
		overflow: hidden;

        .ig-image {
            padding-top: calc(100% / 3);
            height: calc(100% / 3);
            width: calc(100% / 3);
            background-size: cover;
            float: left;
        }	

		.svg {
		    svg {
		        width: 300px;
		    }
		}        
	}	
}

#services {
	padding: 125px 0 130px;

    ul {

        li {
            font-size: 2.125em;
            line-height: 1em;
            letter-spacing: 4.39px;
            padding: 21px 0 15px 0;
        }
    }	
}

#passion {
	overflow: auto;

	header {
		margin-bottom: 47px;
	}

	h2.highlighter {
		font-size: 27px;
		line-height: 33px;
		letter-spacing: 4px;
		padding: 0 0 0 12%;

		span {
			em {
			}
		}
	}

	.image-wrap {
		float: right;
		margin-top: -57px;

		img {
			width: 100%;
			margin: 0 auto;
		}
	}

	.copy {
        padding: 0 0 0 12%;        
		p {
			width: 70%;
			font-size: 1em;
			line-height: 27px;
			letter-spacing: 0.8px;
			margin: 0 0 30px 0;
		}
	}
}

#team {
	.team-slider {

		header {

		}

		.team-member-name {

		}

		.job-title {

		}

		.team-member-photo {
			width: 50%;
			float: left;
		}

		.content {
			width: 50%;
			float: left;			
			
			img {

			}

			p {

			}

            .inner {

                & + .inner {

                }

                li {

                }
            }

            [data-nav-id="team-member-about"] {
            	padding: 50px 0 0px;
            }

            [data-nav-id="team-member-side-hustle"] {
    			padding: 110px 0 0;
                
                p {
                
                }
            }

            [data-nav-id="team-member-pro-experience"] {
    			padding: 15% 0 0;

                .copy {

                    h4 {

                    }
                }
            }
		}
	}

    .content-nav {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
    }    
}

#contact-banner {
    h2 {
        font-size: 16px;
    }
}

#contact {
	overflow: auto;

	.city {
		width: 50%;
    	padding: 45% 0 0 0;
    	
	    .city-box {
	        width: 96px;
	        height: 96px;	
	    }
	    
	    .city-box-border {
	        position: absolute;
	        display: block;
	        box-sizing: border-box;
	        width: 96px;
	        height: 96px;
	        border: solid 2px #000;
	    }	    

		.city-box-wrap {
			margin: 0 auto;
		}

		.hover-content {
			overflow: hidden;

			.inner {
	        	position: absolute;
	        	top: 50%;
	        	left: 50%;
				transform: translate(-50%, -50%);			
			}
		}

		.letter-hover {
			font-size: 1.688em;
		}

		&.hovered {
			.letter-copy {
				font-size: 1.688em;
			}
		}		
	}

	.letter-resting,
	.letter-copy,
	.letter-copy-hover {
		font-size: 1.188em;
	}
}

#jobs {
	overflow: auto;
	padding-bottom: 79px;

	.jobs-info {
		.middle {
			padding: 0;
		}

		.jobs-contact {
			padding-left: 5%;

			h3 {
				font-size: 1.250em;
				letter-spacing: 2.58px;
			}			
		}

		.jobs-open-roles {
			padding-left: 5%;

			h3 {
				font-size: 1.125em;
				letter-spacing: 2px;
			}
		}

		p {
			font-size: 1em;
			letter-spacing: 0.89px;
		}		
	}

	h2 {
		font-size: 1.688em;
		letter-spacing: 4.26px;
		position: static;
		transform: translate(0,0);
		padding-top: 90px;
		padding-bottom: 80px;

		br {
			display: none;
		}		

		span {
			display: inline;

			em {
			    width: 104%;
			    left: -5px;
			    top: 12px;
			}
		}
	}
}

#footer {

}

#footer-logo {
	width: 370px;
}