/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
    font-family: $sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #fff;
    background-color: #080808;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: $serif;
}

a {
	text-decoration: none;
}

/**************************
Site Loader
***************************/		
#loader {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../../images/PublicSchool_B.2.gif);
	background-color: #080808;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 100;
}

/**************************
Icons
***************************/
.down-arrow-white {
    display: inline-block;
    width: 24px;
    height: 14px;
    transition: all .5s;
    background-image: url(../../images/icons/down-arrow-white.png);
    background-size: 100%;
}

.close-icon-white {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: all .5s;
    background-image: url(../../images/icons/close-icon-white.png);
    background-size: 100%;
}

.pentagon {
	display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: .7;
    background-image: url(../../images/icons/pentagon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.social {
    margin: 0;
    text-align: center;

    li {
        display: inline-block;

        margin-right: 17%;

        &:last-child {
            margin-right: 0;
        }
		
		a {
			display: block;
		    width: 20px;
		    height: 20px;
		    text-decoration: none;
	        background-image: url(../../images/icons/social-sprite.png);
	        background-repeat: no-repeat;
	        background-position: 0 0;
	        background-size: 270px 19px;

	        &.spotify {
	            background-position: 0 0;
	        }

	        &.instagram {
	            background-position: -83px 0;
	        }

	        &.twitter {
	            background-position: -168px 0;
	        }

	        &.linkedin {
	            background-position: -252px 0;
	        }	        
		}
    }
}

i.address,
i.email,
i.phone {
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url(../../images/icons/contact-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(193px/2) calc(33px/2);
}

i.email {
	background-position: -40px 0;
}
i.phone {
	background-position: -79px 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 96%;
    margin: 0 auto;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

header {
    position: relative;
}

/**************************
Generic Classes
***************************/
.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

/*********************
LINK STYLES
*********************/

a,
a:visited {
    color: $link-color;

    /* on hover */
    &:hover,
    &:focus {
        color: $link-hover;
    }

    /* on click */
    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-rendering: optimizelegibility;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1,
.h1 {
    font-size: 2.5em;
    line-height: 1.333em;
}

h2,
.h2 {
    font-size: .935em;
    line-height: 1.2em;
    letter-spacing: 1.67px;

    &.highlighter {
        font-family: 'sfns_displayregular';
        font-size: 1.563em;
        line-height: 1.17em;
        padding: 0 50px;

        em {
            font-style: normal;
            display: block;
        }
    }
}

h3,
.h3 {
    font-size: 1.125em;
}

h4,
.h4 {
    font-size: 1.1em;
    font-weight: 700;
}

h5,
.h5 {
    font-size: .846em;
    line-height: 2.09em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*********************
HEADER STYLES
*********************/
#header-logo {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -140%);
    text-align: center;
}

/*********************
FOOTER STYLES
*********************/

.footer {
    clear: both;
    padding: 70px 0 100px;
    text-align: center;
    color: $light-gray;
    background: #0b0a0a;

    .footer-contact {
        font-family: 'blender_pro_boldbold';
        width: 78%;
        margin: 44px auto 0;
        margin-bottom: 50px;
        padding: 37px 0;
        letter-spacing: 2.75px;
        text-transform: uppercase;
        border-top: solid 1px #636363;
        border-bottom: solid 1px #636363;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

/**************************

***************************/

i {
    font-style: normal;
}

mark {
    color: #fff;
    background: transparent;
}

mark em {
    font-style: normal;

    opacity: 0;
    transition: opacity 0.5s;
}

.paper-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    background-color: #080808;
}

.paper {
    font-family: 'blender_prothin';
    font-size: 1.8em;
    line-height: 50px;
    z-index: 1;
    display: none;
    clear: both;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: #080808;
    background-image: url(../../images/paper-line.svg);
    background-repeat: repeat, repeat-y;
    background-position: 0 0, 76px 0;
    background-size: 100vw 50px, 32px 32px;

    &.show-me {
        display: block;
    }
}

.paper .highlight,
.paper mark,
.paper .highlighter,
.paper .text {
    transition: all .5s;
}

.paper.example .highlight,
.paper.example mark,
.paper.example .highlighter,
.paper.example .text {
    transition: all 1.5s;
}

.paper .text {
    /*opacity: 0;*/
    /*white-space: nowrap;*/
}

.paper .text span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.paper .nospace .text span {
    padding-right: 0;
}

.paper .text span:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 21px;
    content: '';
    transition: opacity .5s;
    transform: translate(0, -50%);
    background: yellow;
}

.paper .highlight,
.paper mark {
    position: relative;
    display: inline;
    cursor: pointer;
}

.paper .highlight.flicker,
.paper mark.flicker {
    animation-name: flicker;
    animation-duration: 4s;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.paper .highlighter {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 17px;
    transform: translateY(-50%);
    background: #ffe700;
}

.paper mark.show-phrase span:after {
    opacity: 0;
}

.paper mark.show-phrase em {
    opacity: 1;
}

.paper .highlight.show-phrase .text,
.paper mark.show-phrase .text {
    opacity: 1;
    color: #fff;
}

/**************************
Mobile Contact Butter Bar
***************************/		
.contact-butter-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 55px;
	width: 100%;
	opacity: 0;
	background-color: #171717;
	transition: opacity 0.5s;

	a {
		font-size: 0.688em;
		letter-spacing: 1.65px;
		text-transform: uppercase;
		font-family: 'blender_promedium';
		display: block;
		text-align: center;
	}

	&.show {
		opacity: 1;
	}
}

/**************************
Section Specific styles
***************************/
#header {
    position: relative;
    z-index: 2;

    .cover {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #080808;
    }

	.highlighter-sessions-label {
		display: none;
	}

    .highlighter-sessions-toolbar {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        display: table;
        width: 100%;
        transition: opacity 0.7s;
        background-color: #212121;
        text-transform: uppercase;

        div {
            position: relative;
            display: table-cell;
            width: 80%;
            margin: 0;
            padding: 9% 12%;
            vertical-align: middle;
        }

        div + div {
            width: 20%;
            background: #1b1b1b;
        }

        h2 {
            text-align: left;

            span {
                display: block;
            }
        }

        .down-arrow-white {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);
        }

        .close-icon-white {
            position: absolute;
            top: 50%;
            right: -50%;
            display: block;
            transform: translate(50%, -50%);
            opacity: 0;
        }

        .toggle-paper {
            overflow: hidden;
        }

        .toggle-paper.open {
            .down-arrow-white {
                top: -50%;
                opacity: 0;
            }

            .close-icon-white {
                right: 50%;
                opacity: 1;
            }
        }
    }
}

#overview {
    position: relative;
    color: #000;
    background-color: #fff;

    h2 {
        font-family: 'blender_pro_boldbold';
        font-size: .938em;
        line-height: 1em;
        margin-bottom: 17px;
    }

    p {
        font-size: 1.813em;
        line-height: 1.1em;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        color: #717171;

        // letter-spacing: 1.38px;
   
    }
}

#instagram {
    header {
        height: 15%;
    }

    .image-grid {
        position: relative;
        height: 85%;
        background-color: #fff;
        background-image: url(../../images/placeholders/instgram-grid.png);
        background-size: cover;

        .img {
        	display: none;
            float: left;
            width: 50%;
            height: calc(100%/3);
            background-color: grey;

            &.light {
                background-color: #eee;
            }
        }
    }
}

#services {
    position: relative;

    h2 {
        font-family: 'blender_pro_boldbold';
        color: #727272;
    }

    ul {
        li {
            font-family: 'sfns_displayregular';
            font-size: 1.875em;
            line-height: 2em;
            text-align: center;
            letter-spacing: 3.87px;
            text-transform: uppercase;
            border-top: solid 2px #222;

            &:last-child {
                border-bottom: solid 2px #222;
            }
        }
    }
}

#passion {
    padding: 90px 0 100px;
    color: #7b7b7b;
    background-color: #fff;

    h2 {
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 3.6px;
        color: #2c2b2b;
    }

    p {
        font-family: $serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 24px;
        width: 75%;
        margin: 0 auto 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#contact {
    .la {
        position: relative;
        background-image: url(../../images/contact-la.jpg);
        background-size: cover;
    }

    .atl {
        position: relative;
        background-image: url(../../images/contact-atl.jpg);
        background-size: cover;
    }

    & > div {
        width: 100%;
        height: 50%;
        background-color: red;

        & + div {
            background-color: blue;
        }
    }

    .city-box-wrap {
        position: relative;
        width: 126px;
        height: 126px;
    }

    .letters {
    	margin: 0;
    	text-align: center;

    	li {
			font-family: 'octin_collegeregular';
			font-size: 1.563em;
			margin: 0;
			text-align: center;
			display: inline;
			margin-right: 4px;

			&:last-child {
				margin-right: 0;
			}
        }
    }

    .city-box {
        width: 118px;
        height: 118px;
        background-color: #0e0e0e;
        position: relative;
    }

    .city-box-border {
        position: absolute;
        top: 6px;
        left: 6px;
        display: block;
        box-sizing: border-box;
        width: 118px;
        height: 118px;
        border: solid 2px #000;
    }

    .hover-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.5s;
        background-color: rgba(0, 0, 0, 0);
    }

    .contact-details {
        font-family: $serif;
        margin: 0;
        width: 76%;
        float: left;
        opacity: 0;
        transform: translate(0, -100%);
        transition: transform 0.5s, opacity 0.5s;

        li {
        	position: relative;
        	padding-left: 34px;
        	margin-bottom: 15px;
        	color: #E0E0E0;

        	i {
        		position: absolute;
        		left: 0;
        		top: 50%;
        		transform: translateY(-50%);
        	}
        }

        span {
            display: block;
            line-height: 18px;
        }
    }    

    .hover-city {
        margin: 0;
        width: 24%;
        float: left;
        text-align: center;
        transform: translate(-100%, 0);
        transition: transform 0.5s;

        li {
            font-family: 'octin_collegeregular';
            font-size: 1.500em;
            display: block;
            margin: 0 0 4px 0;

            // visibility: hidden;
       
        }
    }    

    .city:hover,
    .city:focus {
    	.hover-content {
    		background-color: rgba(0, 0, 0, 0.9);
    	}

    	.contact-details {
	        opacity: 1;
	        transform: translate(0, 0);    		
    	}

    	.hover-city {
    		transform: translate(0, 0);
    	}
    }    
}

#jobs {
    background-color: #fff;

    header {
        position: relative;
        height: 28%;
    }

    h2 {
        font-size: 1.563em;
        line-height: 29px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 25px;
        transform: translate(-50%, -50%);
        letter-spacing: 3.6px;
        color: #2c2b2b;
    }

    .jobs-info {
        position: relative;
        height: 72%;
        color: #6e6e6e;
        background: #f8f8f8;

        .middle {
            padding: 0 13%;
        }

        .jobs-contact {
            margin-bottom: 45px;
        }

        h3 {
            font-size: .938em;
            margin-bottom: 5px;
            letter-spacing: 1.9px;
            color: #000;
        }

        a {
            font-family: $serif;
            font-size: .938em;
            text-decoration: none;
            color: #6e6e6e;
        }

        p {
            font-size: .938em;
            margin: 0;
        }

        ul {
            font-family: $serif;
            font-size: .938em;
            margin: 0;

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}