/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
    font-family: $sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: #fff;
    background-color: #080808;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: $serif;
}

a {
    text-decoration: none;
}

/**************************
Site Loader
***************************/
#loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../images/PublicSchool_B.2.gif);
    background-color: #080808;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;
}

/**************************
Icons
***************************/
.down-arrow-white {
    display: inline-block;
    width: 24px;
    height: 14px;
    transition: all .5s;
    background-image: url(../../images/icons/down-arrow-white.png);
    background-size: 100%;
}

.close-icon-white {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: all .5s;
    background-image: url(../../images/icons/close-icon-white.png);
    background-size: 100%;
}

.pentagon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .7;
    background-image: url(../../images/icons/pentagon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.social {
    margin: 0;
    text-align: center;

    li {
        display: inline-block;

        margin-right: 17%;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            width: 20px;
            height: 20px;
            text-decoration: none;
            background-image: url(../../images/icons/social-sprite.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 270px 19px;

            &.spotify {
                background-position: 0 0;
            }

            &.instagram {
                background-position: -83px 0;
            }

            &.twitter {
                background-position: -168px 0;
            }

            &.linkedin {
                background-position: -252px 0;
            }
        }
    }
}

i.address,
i.email,
i.phone {
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url(../../images/icons/contact-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(193px/2) calc(33px/2);
}

i.email {
    background-position: -40px 0;
}
i.phone {
    background-position: -79px 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 96%;
    margin: 0 auto;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

header {
    position: relative;
}

/**************************
Generic Classes
***************************/
.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.full-height-mobile {
    height: 100vh;
}

/*********************
LINK STYLES
*********************/

a,
a:visited {
    color: $link-color;

    /* on hover */
    &:hover,
    &:focus {
        color: $link-hover;
    }

    /* on click */
    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-rendering: optimizelegibility;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1,
.h1 {
    font-size: 2.5em;
    line-height: 1.333em;
}

h2,
.h2 {
    font-family: 'blender_pro_boldbold';
    font-size: .935em;
    line-height: 1.2em;
    letter-spacing: 1.67px;

    &.highlighter {
        font-family: 'octin_collegeregular';
        font-size: 1.563em;
        line-height: 1.17em;
        padding: 0 50px;

        span {
            display: block;
            position: relative;

            em {
                display: block;
                width: 78%;
                height: 6px;
                background-color: #FEE430;
                position: absolute;
                top: 12px;
                left: 0;
                z-index: 1;
            }
        }

        .highlight-text {
            position: relative;
            z-index: 2;
        }
    }
}

h3,
.h3 {
    font-size: 1.125em;
}

h4,
.h4 {
    font-size: 1.1em;
    font-weight: 700;
}

h5,
.h5 {
    font-size: .846em;
    line-height: 2.09em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*********************
HEADER STYLES
*********************/
#header-logo {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, -140%);
            transform: translate(-50%, -140%);
    text-align: center;
}

/*********************
FOOTER STYLES
*********************/

.footer {
    clear: both;
    padding: 70px 0 100px;
    text-align: center;
    color: $light-gray;
    background: #0b0a0a;

    .footer-contact {
        font-family: 'blender_pro_boldbold';
        width: 78%;
        margin: 44px auto 0;
        margin-bottom: 50px;
        padding: 37px 0;
        letter-spacing: 2.75px;
        text-transform: uppercase;
        border-top: solid 1px #636363;
        border-bottom: solid 1px #636363;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

/**************************

***************************/

i {
    font-style: normal;
}

mark {
    color: #fff;
    background: transparent;
}

mark em {
    font-style: normal;

    opacity: 0;
    transition: opacity 0.5s;
}

.paper-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    background-color: #080808;
}

.paper {
    font-family: 'blender_prothin';
    font-size: 22px;
    line-height: 50px;
    z-index: 1;
    display: none;
    clear: both;
    width: 100%;
    padding: 15px 45px;
    text-align: center;
    letter-spacing: 2.36px;
    text-transform: uppercase;
    background-color: #080808;
    background-image: url(../../images/paper-line.svg);
    background-repeat: repeat, repeat-y;
    background-position: 0 0, 76px 0;
    background-size: 100vw 50px, 32px 32px;

    &.show-me {
        display: block;
    }
}

.paper .highlight,
.paper mark,
.paper .highlighter,
.paper .text {
    transition: all .5s;
}

.paper.example .highlight,
.paper.example mark,
.paper.example .highlighter,
.paper.example .text {
    transition: all 1.5s;
}

.paper .text {
    /*opacity: 0;*/
    /*white-space: nowrap;*/
}

.paper .text span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.paper .nospace .text span {
    padding-right: 0;
}

.paper .text span:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 7px;
    content: '';
    transition: opacity .5s;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: #FEE430;
}

.paper .highlight,
.paper mark {
    position: relative;
    display: inline;
    cursor: pointer;
}

.paper .highlight.flicker,
.paper mark.flicker {
    -webkit-animation-name: flicker;
            animation-name: flicker;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.paper .highlighter {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 17px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #ffe700;
}

.paper mark.show-phrase span:after {
    opacity: 0;
}

.paper mark.show-phrase em {
    opacity: 1;
}

.paper .highlight.show-phrase .text,
.paper mark.show-phrase .text {
    opacity: 1;
    color: #fff;
}

/**************************
Mobile Contact Butter Bar
***************************/
.contact-butter-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    opacity: 0;
    background-color: #171717;
    transition: opacity 0.5s;
    z-index: 4;

    a {
        font-size: 0.688em;
        letter-spacing: 1.65px;
        text-transform: uppercase;
        font-family: 'blender_promedium';
        display: block;
        text-align: center;
    }

    &.show {
        opacity: 1;
    }
}

/**************************
Section Specific styles
***************************/
#header {
    position: relative;
    z-index: 2;

    .cover {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #080808;
    }

    .highlighter-sessions-label {
        display: none;
    }

    .highlighter-sessions-toolbar {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        display: table;
        width: 100%;
        transition: opacity 0.7s;
        background-color: #212121;
        text-transform: uppercase;

        div {
            position: relative;
            display: table-cell;
            margin: 0;
            vertical-align: middle;
        }

        div:first-child {
            width: 75%;
            padding: 9% 0 9% 12%;
        }

        div + div {
            width: 25%;
            background: #1b1b1b;
        }

        h2 {
            text-align: left;

            span {
                display: block;
            }
        }

        .down-arrow-white {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }

        .close-icon-white {
            position: absolute;
            top: 50%;
            right: -50%;
            display: block;
            -webkit-transform: translate(50%, -50%);
                    transform: translate(50%, -50%);
            opacity: 0;
        }

        .toggle-paper {
            overflow: hidden;
        }

        .toggle-paper.open {
            .down-arrow-white {
                top: -50%;
                opacity: 0;
            }

            .close-icon-white {
                right: 50%;
                opacity: 1;
            }
        }
    }
}

#overview {
    position: relative;
    color: #000;
    background-color: #fff;

    h2 {
        font-family: 'blender_pro_boldbold';
        font-size: .938em;
        line-height: 1em;
        margin-bottom: 19px;
    }

    p {
        font-size: 1.813em;
        line-height: 1.1em;
        letter-spacing: 1.38px;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        color: #717171;

        // letter-spacing: 1.38px;

    }
}

#instagram {
    background-color: #080808;

    header {
        height: 15%;
    }

    .image-grid {
        position: relative;
        height: 85%;
        overflow: auto;

        .tablet-placeholder,
        .desktop-placeholder {
            display: none;
        }

        .ig-image {
            padding: 0;
            height: calc(100% / 3);
            width: 50%;
            background-size: cover;
            float: left;
        }
    }

    .svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);

        svg {
            width: 275px;
        }
    }
}

#services {
    position: relative;

    h2 {
        font-family: 'blender_pro_boldbold';
        color: #727272;
        margin-bottom: 22px;
    }

    ul {
        margin: 0;

        li {
            font-family: 'octin_collegeregular';
            font-size: 1.875em;
            line-height: 1em;
            text-align: center;
            letter-spacing: 3.87px;
            text-transform: uppercase;
            border-top: solid 2px #222;
            padding: 17px 0 12px 0;

            &:last-child {
                border-bottom: solid 2px #222;
            }
        }
    }
}

#passion {
    padding: 90px 0 100px;
    color: #7b7b7b;
    background-color: #fff;

    header {
        overflow: hidden;        
    }

    h2 {
        font-size: 25px;
        line-height: 29px;
        letter-spacing: 3.6px;
        color: #2c2b2b;
    }

    img.passion-paak {
        width: 100%;
        display: block;
        margin: 0 auto 45px;
    }

    p {
        font-family: $serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 24px;
        width: 75%;
        margin: 0 auto 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#team {
    position: relative;
    background-color: #1B1B1B;

    .bx-viewport {
        transition: height 0.5s;
    }

    .team-slider-nav {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 1;
        top: 45px;
        overflow: auto;
    }

    #slider-prev,
    #slider-next {
        float: left;
        margin-left: 18px;
    }

    #slider-next {
        float: right;
        margin-right: 18px;
    }

    #slider-prev a,
    #slider-next a {
        text-indent: -9999px;
        display: inline-block;
        width: 15px;
        height: 24px;
        background-image: url(../../images/icons/slider-nav-sprite.png);
        background-size: calc(114px/2) calc(44px/2);
        background-repeat: no-repeat;
    }

    #slider-next a {
        background-position: -42px 0;
    }

    .team-slider {
        margin: 0;
        height: 100%;
        opacity: 0;
        transition: opacity 0.6s;

        &.loaded {
            opacity: 1;
        }

        header {
            position: relative;
            text-align: center;
            padding: 35px 0 22px;
        }

        .team-member-name {
            color: #FFFFFF;
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 2.92px;
        }

        .job-title {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 2px;
            margin: 0;
            font-family: 'eb_garamond12_italic';
            color: #848484;
        }

        .team-member-photo {

        }

        .content {
            position: relative;
            height: 365px;
            // transition: height 0.5s;

            img {
                display: block;
                margin: 0 auto;
                width: 38%;
            }

            p {
                color: #fff;
                font-family: 'GaramondFBText-Light';
                font-size: 13px;
                line-height: 22px;
                letter-spacing: 1px;
                width: 75%;
                margin: 26px auto 0;
                text-align: center;
            }

            .inner {
                width: 100%;

                & + .inner {
                    display: none;
                }

                li {
                    font-family: 'GaramondFBText-Regular';
                    font-size: 13px;
                    line-height: 22px;
                    letter-spacing: 0.65px;
                }
            }

            [data-nav-id="team-member-about"] {
                padding: 90px 0 70px;
            }

            [data-nav-id="team-member-side-hustle"] {
                padding: 100px 0 70px;

                p {
                    margin: 0 auto;
                }
            }

            [data-nav-id="team-member-pro-experience"] {
                padding: 36% 0 22%;

                .copy {
                    width: 75%;
                    margin: 0 auto;
                    overflow: auto;

                    h4 {
                        font-family: 'blender_pro_boldbold';
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

    .content-nav {
        background-color: #141414;
        position: relative;
        z-index: 1;
        position: absolute;
        width: 100%;
        opacity: 0;

        ul {
            margin: 0;
            text-align: center;

            li {
                color: #838383;
                font-family: 'blender_pro_boldbold';
                letter-spacing: 2px;
                font-size: 11px;
                text-transform: uppercase;
                display: inline-block;
                margin-right: 10%;
                padding: 14px 0;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: #fff;
                }
            }
        }
    }
}

#contact {
    .city {
        position: relative;
        background-size: cover;
        transition: opacity 0.5s;

        &.in-view {

        }
    }

    .la {
        background-image: url(../../images/contact-la.jpg);

    }

    .atl {
        background-image: url(../../images/contact-atl.jpg);
    }

    & > div {
        width: 100%;
        height: 50%;

        & + div {

        }
    }

    .city-box-wrap {
        position: relative;
        width: 126px;
        height: 126px;
    }

    .letter-copy,
    .letter-copy-hover {
        font-family: 'octin_collegeregular';
        font-size: 1.563em;
        line-height: normal;
        margin: 0;
        // height: 10px;
        width: 10px;
        display: block;
        z-index: 2;
        transition: left 0.5s, top 0.5s;
    }

    .letter-resting {
        margin: 0;
        position: absolute;
        visibility: hidden;
        z-index: 2;
        top: 50%;
        left: 50%;
        // height: 50px;
        // width: 50px;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-family: 'octin_collegeregular';
        font-size: 1.563em;
        line-height: normal;

        &.first {
            -webkit-transform: translate(-185%, -50%);
                    transform: translate(-185%, -50%);
        }

        &.last {
            -webkit-transform: translate(92%, -50%);
                    transform: translate(92%, -50%);
        }

        li {

            margin: 0;
            text-align: center;
            display: inline-block;
            margin-right: 0;
            background-color: red;

            &:last-child {
                margin-right: 0;
            }
        }

        &.resting {
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%);
        }

        &.hover {
            top: 50%;
            left: 0;

            li {
                display: block;
                text-align: left;
            }
        }
    }

    .la {
        .letter-resting.first {
            -webkit-transform: translate(-105%, -50%);
                    transform: translate(-105%, -50%);
        }
        .letter-resting.last {
            -webkit-transform: translate(44%, -50%);
                    transform: translate(44%, -50%);
        }        
    }

    .hover-letters {
        position: absolute;
        top: 50%;
        left: 10%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .la .hover-letters {
        -webkit-transform: translate(0, -75%);
                transform: translate(0, -75%);
    }

    .letter-hover {
        display: block;
        font-family: 'octin_collegeregular';
        font-size: 1.563em;
        margin-bottom: 12px;
        line-height: normal;
        visibility: hidden;
        // color: #000;
    }

    .city-box {
        width: 118px;
        height: 118px;
        background-color: #0e0e0e;
        z-index: 1;

    }

    .city-box-border {
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 118px;
        height: 118px;
        border: solid 2px #000;
        top: calc(50% + 6px);
        left: calc(50% + 6px);
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .hover-content {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .contact-details {
        font-family: 'GaramondFBText-Regular';
        margin: 0;
        width: 100%;
        opacity: 0;
        padding-left: 24%;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

        li {
            position: relative;
            padding-left: 34px;
            margin-bottom: 15px;
            color: #E0E0E0;

            i {
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
        }

        span {
            display: block;
            font-size: 0.875em;
            color: #E0E0E0;
            line-height: normal;
        }
    }
}

.no-touch {
    #contact {
        .city:hover {
            .hover-content {
                opacity: 1;
                visibility: visible;
            }

            .contact-details {
                opacity: 1;
                -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
            }

            .hover-city {
                -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
            }
        }
    }
}

.touch {
    #contact {
        .hovered {
            .hover-content {
                opacity: 1;
                visibility: visible;
            }

            .contact-details {
                opacity: 1;
                -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
            }

            .hover-city {
                -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
            }            
        }
    }
}

#jobs {
    background-color: #fff;

    header {
        position: relative;
        height: 28%;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 25px;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #2c2b2b;
        letter-spacing: 3.94px;

        &.highlighter {
            span {
                em {
                    width: 89%;
                    left: 14px;
                }
            }

            .highlight-text {
                position: relative;
                z-index: 2;
            }
        }
    }

    .jobs-info {
        position: relative;
        height: 72%;
        color: #6e6e6e;
        background: #f8f8f8;

        .middle {
            padding: 0 13%;
        }

        .jobs-contact {
            margin-bottom: 45px;
        }

        h3 {
            font-family: 'blender_pro_boldbold';
            font-size: .938em;
            margin-bottom: 7px;
            letter-spacing: 1.9px;
            color: #000;
        }

        a {
            font-family: 'GaramondFBText-Regular';
            font-size: .938em;
            text-decoration: none;
            color: #6e6e6e;
            letter-spacing: 0.83px;
        }

        p {
            font-family: 'GaramondFBText-Regular';
            font-size: .938em;
            margin: 0;
            letter-spacing: 0.83px;
        }

        ul {
            font-family: 'GaramondFBText-Regular';
            font-size: .938em;
            margin: 0;
            letter-spacing: 0.83px;

            li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}